<div class="page-container">
    <div class="form-container">
        <h1>Hero Form</h1>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
            <div class="form-group">
                <label for="blue">Blue</label>
                <input type="number" class="form-control" id="name" min="1" max="10" required [(ngModel)]="model.blue"
                    name="blue" #blue="ngModel" />
                <div [hidden]="blue.valid || blue.pristine" class="alert alert-danger">
                    Blue is required
                </div>
            </div>

            <div class="form-group">
                <label for="yellow">Yellow</label>
                <input type="number" required class="form-control" id="Yellow" [(ngModel)]="model.yellow" name="yellow" min="1"
                    max="10" #yellow="ngModel"/>
                    <div [hidden]="yellow.valid || yellow.pristine" class="alert alert-danger">
                        Yellow is required
                    </div>
            </div>

            <div class="form-group">
                <label for="max">MAX</label>
                <input [(ngModel)]="model.max" required class="form-control" name="max" type="number"
                    onkeypress="return event.charCode >= 48" min="1" #max="ngModel"/>
                    <div [hidden]="max.valid || max.pristine" class="alert alert-danger">
                        Max is required
                    </div>
            </div>

            <button type="submit" class="submit-button" [disabled]="!heroForm.form.valid">
                Submit
            </button>
        </form>
    </div>

<div *ngIf="list && submitted">
    <!-- <div > -->
        <span class="list-item" *ngFor="let item of printList(heroForm.form.value.max)" [ngClass]="{'blueClass': ((item%heroForm.form.value.blue) == 0), 
                 'yellowClass': ((item%heroForm.form.value.yellow) == 0) , 
                 'greenClass': (((item%heroForm.form.value.yellow) == 0) && ((item%heroForm.form.value.blue) == 0)) }">
            {{ item }}
        </span>

    <!-- </div> -->
</div>
</div>

